body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: #fff;
    }

.logo1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo2:hover, .logo1:hover{color: #404bbf;}

.logo2:active, .logo1:active{ 
    color: #404bbf; 
    text-decoration: underline;}

.logo2 {
    color: #2e2f42;
}

.menu-links .studio, .menu-links .portfolio, .menu-links .contacts{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-decoration: none;
}
.menu-links .studio:hover, .menu-links .portfolio:hover, .menu-links .contacts:hover{color: #404bbf;}
.menu-links .studio:active{
    color: #404bbf;
    text-decoration: underline;
}


.contacts-links .link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
}
.contacts-links .link:hover{color: #404bbf;}

h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
    background: #2e2f42;
}

.start-scr-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;
}
.start-scr-btn:hover{background: #404bbf;}

h2{font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2e2f42;
}

.eff-sol .solution{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.eff-sol .text{
    font-size: 16px;
   }

.team-list .name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
}

.team-list .descr{
    font-size: 16px;
    text-align: center;
}

.portfolio .name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    }

.portfolio .descr{
    font-size: 16px;
}

.fot-text{
        font-size: 16px;
        line-height: 1.5;
        color: #f4f4fd;
        background: #2e2f42;
}